.App {
  text-align: center;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: content;
}

.form label {
  font-size: large;
  font-weight: bold;
}

.form input {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 10px;
}
